<!-- vamos a meter en la lista siguiente las personas de la matriz_personas.ts -->

<h1>Listado de personas</h1>

<ul>
  <li *ngFor="let p of personas" > 
    
    <p>{{p.apellidos}} {{p.nombre}} </p> 
    <p *ngIf="p.saldo < 0" style="color:red">{{(p.saldo.toFixed(2))}} €</p>
    <p *ngIf="p.saldo >= 0" style="color:green">{{p.saldo.toFixed(2)}} €</p> 
  </li>
</ul>

<table id="tablaDatos">
  <thead>
    <tr>
      <th>DNI</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Saldo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of personas">
      <td>{{p.dni}}</td>
      <td>{{p.nombre}}</td>
      <td>{{p.apellidos}}</td>
      <td *ngIf="p.saldo < mediaSaldos" style="color:red">{{(p.saldo.toFixed(2))}} €</td>
      <td *ngIf="p.saldo >= mediaSaldos" style="color:green">{{p.saldo.toFixed(2)}} €</td> 
    </tr>
  </tbody>
</table>

