[submodule "ws_profesor/ws_html"]
	path = ws_profesor/ws_html
	url = http://www.github.com/vladimirbat/ws_html
[submodule "ws_profesor/ws_html5"]
	path = ws_profesor/ws_html5
	url = http://www.github.com/vladimirbat/ws_html5
[submodule "ws_profesor/ws_javascript"]
	path = ws_profesor/ws_javascript
	url = http://www.github.com/vladimirbat/ws_javascript
