[submodule "ws_profesor/ws_html"]
	path = ws_profesor/ws_html
	url = http://www.github.com/vladimirbat/ws_html
[submodule "ws_profesor/ws_html5"]
	path = ws_profesor/ws_html5
	url = http://www.github.com/vladimirbat/ws_html5
[submodule "ws_profesor/ws_javascript"]
	path = ws_profesor/ws_javascript
	url = http://www.github.com/vladimirbat/ws_javascript
[submodule "ws_profesor/ws_rwd"]
	path = ws_profesor/ws_rwd
	url = https://www.github.com/vladimirbat/ws_rwd
[submodule "ws_profesor/ws_es6_ts"]
	path = ws_profesor/ws_es6_ts
	url = http://github.com/vladimirbat/ws_es6_ts
[submodule "ws_profesor/ws_typescript"]
	path = ws_profesor/ws_typescript
	url = http://www.github.com/vladimirbat/ws_typescript/
