div#mensaje{
    background-color: yellow ;
    p{
        &.contenido{
            margin-left: 10px;
        }
        margin-left: 50px;
        a{
            color: tomato;
        }
    }
}

@import "parte"